.report {
    text-align: left;
}
.report h4 {
    width: 260px;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
    border-bottom: solid 1px #ddd;
    padding: 0 20px;
    font-weight: bold;
}
.report ul {
    padding: 20px 20px 5px;
}
.report ul li {
    padding-left: 30px;
    line-height: 30px;
    cursor: pointer;
}
.report ul li:hover {
    background-color: #f9f9f9;
}
.report ul li.chosed {
    color: #CE1126;
}
.report ul li i {
    margin-left: -23px;
    margin-right: 5px;
}